/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    /* slightly reduced background brightness */
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
h3 {
    margin-top: 0;
}

section {
    width:70%;
    height:100%;
    margin:auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#all-medicines-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

#all-medicines-list li {
    flex: 1 1 200px;
    list-style-position: inside;
    margin: 1em;
}